{% extends 'base.html' %}
{% block title %}Login - Rental App{% endblock %}

{% block content %}
  <h2 class="section-title">Login</h2>
  <p class="section-subtitle page-intro">Masuk untuk mengelola rental Anda.</p>

  <form method="post" class="row">
    <div style="flex:2">
      <label>Username</label>
      <div class="field">
        <input name="username" placeholder="username" required />
      </div>
    </div>

    <div style="flex:2">
      <label>Password</label>
      <div class="field">
        <input type="password" name="password" placeholder="password" required />
      </div>
    </div>

    <div style="flex:1">
      <label>&nbsp;</label>
      <div class="field mt-18">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </div>
  </form>

  <p style="margin-top:14px">Belum punya akun? <a href="{{ url_for('register') }}" class="btn btn-ghost">Register</a></p>

{% endblock %}



